<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NSCacheDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D3F31D551D2CEC1B008A9462</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D3F31D6E1D2CEC1C008A9462</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D3F31D791D2CEC1C008A9462</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
